.wrapper_edit {
    display: block;
    margin: 0;
    display: inline-block;
    width: 98.9vw;
    height: 1700px;
    background-color: white;
    text-align: center;

}

.logo_img {
    position: absolute;
    left: 0vw;
    top: 7px;
}

.top_menu {
    position: relative;
    left: 00px;
    height: 60px;
    border-bottom:solid 1px gray;
    border-top:solid 1px gray;
    
}

.s_menu {
    position: relative;
    top: 15px;
    font-weight: 100px;
}

a {
    margin-right: 50px;
}

a:hover {
    color: #3563E9;
}

.top_line {
    position: absolute;
    height: 30vh;
}

.edit_middle_contents {
    position: relative;
    display: inline-block;
    height: 1700px;
    top: 50px;
    border-radius: 50px 50px 0px 0px;
    width: 1400px;
    background-color:#E3EDF9;
    align-items: center;
}

.insert_title {
    position: relative;
    left: 0px;
    width: 1290px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px gray;
}
.insert_title::placeholder {
    position: relative;
    left: 20px;
}
.edit_insert_title h4 {
    position: relative;
    left: -590px;
}

.insert_question {
    position: relative;
    left: 0px;
    width: 1290px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px gray;
}
.insert_question::placeholder {
    position: relative;
    left: 20px;
}
.edit_insert_question h4 {
    position: relative;
    left: -530px;
}

.will_plus h4 {
    position: relative;
    left: -530px;
}

.insert_story {
    position: relative;
    left: 00px;
    width: 1290px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px gray;
}
.insert_story::placeholder {
    position: relative;
    top: -200px;
    left: 20px;
}
.edit_insert_story h4 {
    position: relative;
    left:-455px;
}

.plus_btn {
    position: relative;
    left: 100px;
    background-color: #3563E9;
    font-size: 35px;
    border-radius: 50%;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0px;
}

.plus_text {
    position: relative;
    color: white;
    font-size: 30px;
    left: 1px;
    top: -1px;
}
.exe_edit {
    position: relative;
    top: 80px;
    right:25px;
    background-color: #3563E9;
    color: white;
}

input {
    width: 1290px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    border: solid 1px gray; 
}